@model HackathonTeamBuilder.Models.Hackathon
@{
    ViewBag.Title = "Create Hackathon";
}

<div class="container mt-4">
    <h2>Create Hackathon</h2>

    @using (Html.BeginForm("Create", "Hackathon", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location)
            @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url)
            @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Deadline)
            <input type="date" id="Deadline" name="Deadline" value=@DateTime.Now class="form-control"/>
            @Html.ValidationMessageFor(model => model.Deadline)
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    }
</div>

@section Scripts {
@*For form validation*@
    @Scripts.Render("~/bundles/jqueryval")
}
