@model HackathonTeamBuilder.Models.TeamViewModel
@{
    ViewBag.Title = "List";
}

@if (Model.TeamDTO.Count > 0)
{
    <h2>Hackathon: @Model.Hackathon.Name (ID: @Model.Hackathon.Id)</h2>

    <h3>Team List:</h3>
    <a href="/Team/Create?hackathonId=@Model.Hackathon.Id" class="btn btn-primary mb-2">Create A Team</a>

    <div class="row">
        @foreach (var teamDTO in Model.TeamDTO)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Team ID: @teamDTO.Team.Id</h5>
                        <p class="card-text">
                            <strong>Team Leader:</strong>
                            @if (teamDTO.TeamLeader != null)
                            {
                                @teamDTO.TeamLeader.Email
                            }
                        </p>
                        <p class="card-text"><strong>Requirements:</strong> @teamDTO.Team.Requirements</p>
                        <p class="card-text"><strong>Max Number of Members:</strong> @teamDTO.Team.MaxNumOfMembers</p>
                        <a href="/teammember/list/@teamDTO.Team.Id" class="btn btn-primary m-1">View Members</a>

                        @if (ViewBag.CurrentUser.isAdministrator != null && ViewBag.CurrentUser.isAdministrator == true)
                        {
                            <a href="/Team/Update/@teamDTO.Team.Id" class="btn btn-success m-1">Update Team</a>
                            @*<a href="/Team/DeleteConfirm/@teamDTO.Team.Id" class="btn btn-danger m-1">Delete Team</a>*@
                        }

                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>Hackathon: @Model.Hackathon.Name (ID: @Model.Hackathon.Id)</h2>
    <p>No teams available for the specified Hackathon.</p>
    <a href="/Team/Create?hackathonId=@Model.Hackathon.Id" class="btn btn-primary mb-2">Create A Team</a>
}
