@model List<HackathonTeamBuilder.Models.Hackathon>
@{
    ViewBag.Title = "Home Page";
}

<main class="container mt-4">
    <a href="/hackathon/create" class="btn btn-primary mb-3">Add Hackathon</a>
    <div class="row">
        @foreach (var hackathon in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@hackathon.Id. @hackathon.Name</h5>
                        <p class="card-text"><strong>Location:</strong> @hackathon.Location</p>
                        <p class="card-text"><strong>Description:</strong> @hackathon.Description</p>
                        <p class="card-text"><strong>Offical Website:</strong> <a href="@hackathon.Url" target="_blank">@hackathon.Url</a></p>
                        <p class="card-text"><strong>Deadline:</strong> @hackathon.Deadline.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        <a href="#" class="btn btn-primary mt-1">View Teams</a>
                        <a href="/hackathon/edit?id=@hackathon.Id" class="btn btn-success mt-1">Edit Detail</a>
                        <a href="/hackathon/deleteconfirm?id=@hackathon.Id" class="btn btn-danger mt-1">Delete Hackathon</a>
                    </div>
                </div>
            </div>
        }
    </div>
</main>
