@model List<HackathonTeamBuilder.Models.Hackathon>
@{
    ViewBag.Title = "Home Page";
}

<main class="container mt-4">
    <a href="/Home/" class="btn btn-primary mb-3">Add Hackathon</a>
    <div class="row">
        @foreach (var hackathon in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://placehold.it/300x200" class="card-img-top" alt="Hackathon Image">
                    <div class="card-body">
                        <h5 class="card-title">@hackathon.Name</h5>
                        <p class="card-text"><strong>Location:</strong> @hackathon.Location</p>
                        <p class="card-text"><strong>Description:</strong> @hackathon.Description</p>
                        <p class="card-text"><strong>Offical Website:</strong> <a href="@hackathon.Url" target="_blank">@hackathon.Url</a></p>
                        <p class="card-text"><strong>Deadline:</strong> @hackathon.Deadline.ToString("yyyy-MM-dd HH:mm:ss")</p>
                        <a href="#" class="btn btn-primary">View Teams</a>
                    </div>
                </div>
            </div>
        }
    </div>
</main>
